table {
    caption-side: bottom;
    border: 1px solid black;
    border-collapse: collapse;
    /* border-spacing: 10px 10px; */
}
td, th {
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
}
